.table_tag, th, td {
    border-collapse: collapse;
    border: 1px solid #03A;
}

.table_colHeader {

}

.table_rowHeader {

}

.table_row {

}

.table_valueContainer {
    text-align: right;
}

.table_value.input {
    width: 70px;
    text-align: right;
    margin-right: 1px;
    background-color: rgba(0,0,0,0);
    border-style: none;
}

.table_value.fixed {
    width: 70px;
}

#calculate_container {
    margin: 10px;
    justify-content: center;
    display: flex;
}

#calculate_button {

}

.table_container {
    display: flex;
}

.table_row_header {

}

.table_data_container {
    overflow: auto;
    flex: 1;
}