.main-content-container {
    background-color: cyan;
}

.tab-container {
    width: 65%;
    border-color: red;
    border-style: solid;
}

.tab-content-container {
    border-color: red;
    border-style: solid;
    overflow: scroll;
    height: 1000px;
}

.tab {
    display: inline-block;
    border-color: blue;
    border-style: solid;
}

.fund-container {
    border-color: blue;
    border-style: solid;
}

.fund-summary-item {
    display: inline-block;
    border-color: orange;
    border-style: solid;
}

.fund-name {
    width: 30%;
}

.fund-preview {
    width: 65%;
    padding-top: 10px;
    padding-right: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.fund-summary {
    display: flex;
    justify-content: space-between;
}

.fund-contents {
    border-color: orange;
    border-style: solid;
}

.fund-tab-item {

}

.hidden {
    display: none;
}

.button-controls {
    border-color: red;
    border-style: solid;
}

.result-content {
    border-color: red;
    border-style: solid;
}