<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    <div class="header">
        <div class="left">
            <p>Header</p>
        </div>
        <div class="right">
            {% if current_user.is_anonymous %}
            <p>
                <a href="{{ url_for('account_api.register') }}">Register</a>
                <a href="{{ url_for('account_api.login') }}">Login</a>
            </p>
            {% else %}
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    Welcome <b>{{ current_user.username }}</b><br />

                    {% if acl.check_any(roles, 'admin_menu', 'view') %}
                    <span class="dropdown-header">Admin Menu</span>
                    <a href="{{ url_for('account_api.add_role') }}">Add Role</a>
                    <a href="{{ url_for('account_api.add_to_role') }}">Add User to Role</a>
                    {% endif %}

                    <span class="dropdown-header">User Menu</span>
                    <a href="{{ url_for('account_api.changepass') }}">Change Password</a>
                    <a href="{{ url_for('account_api.logout') }}">Logout</a>
                </div>
            </div>
            {% endif %}
        </div>

    </div>
    {% block content %}{% endblock %}
</body>
</html>