<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chart.css') }}">-->
    <!--<script src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/chart.js') }}"></script>-->
</head>
<body>
    <h1>{{ org.org_name }}</h1>
    <h4>Portfolios</h4>
    <div>
        <ol>
        {% for profile in profiles %}
            <li><a href="{{ url_for('profile_api.prof', prof_id=profile.id) }}">{{ profile.prof_name }}</a></li>
        {% endfor %}
        </ol>
        <form action="{{ url_for('profile_api.add') }}" method="post">
            <input name="prof_name" />
            <input name="org_id" hidden="true" value="{{ org.id }}" />
            <button>Add Portfolio</button>
        </form>
    </div>
</body>
</html>