<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chart.css') }}">-->
    <!--<script src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/chart.js') }}"></script>-->
</head>
<body>
    {{ org }}
    {{ profiles }}
</body>
</html>