{% extends "base.html" %}
{% block header %}{{ org.org_name }}{% endblock %}
{% block breadcrumb %}<a href="{{ url_for('organization_api.all') }}">My Organizations</a>{% endblock %}
{% block adminmenu %}
    {% if acl.check_any(roles, org.get_resource()+'_admin_menu', 'view') %}
        <span class="dropdown-header">Organization Admin</span>
        <a href="{{ url_for('account_api.add_role') }}">Permissions</a>
    {% endif %}
{% endblock %}
{% block content %}
    <h4>Portfolios</h4>
    <div>
        <ol>
        {% for profile in profiles %}
            <li><a href="{{ url_for('portfolio_api.portfolio', portfolio_id=profile.id) }}">{{ profile.prof_name }}</a></li>
        {% endfor %}
        </ol>
        <form action="{{ url_for('portfolio_api.add') }}" method="post">
            <input name="portfolio_name" />
            <input name="org_id" hidden="true" value="{{ org.id }}" />
            <button>Add Portfolio</button>
        </form>
    </div>
{% endblock %}