<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chart.css') }}">-->
    <!--<script src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/chart.js') }}"></script>-->
</head>
<body>
    <h1>{{ prof.prof_name }}</h1>
    <h4>Funds</h4>
    <div>
        <ol>
        {% for fund in funds %}
            <li><a href="{{ url_for('fund_api.fund', fund_id=fund.id) }}">{{ fund.fund_name }}</a></li>
        {% endfor %}
        </ol>
        <form action="{{ url_for('fund_api.add') }}" method="post">
            <input name="fund_name" />
            <input name="prof_id" hidden="true" value="{{ prof.id }}" />
            <button>Add Fund</button>
        </form>
    </div>
</body>
</html>